body {
  background-color: rgb(78, 30, 30);
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
}

.header h1 {
  font-size: 110px;
}

h1 {
  font-size: 40px;
  margin: 20px;
}

.plus {
  font-size: 150px;
  margin-right: 10px;
  color: rgb(116, 215, 116);
}

.plus:hover {
  cursor: pointer;
  color: rgb(78, 144, 78);
}

.main {
  display: flex;
  flex: 1;
}

.content {
  width: 100%;
}

.sidebar {
  background-color: rgb(110, 43, 43);
  width: 23vw;
}

.footer {
  background-color: rgb(110, 43, 43);
  height: 6vh;
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
}

a {
  margin: 0 10px;
}

.form {
  background-color: rgb(110, 43, 43);
  position: absolute;
  left: 40%;
  top: 30%;
  display: flex;
  flex-direction: column;
  height: 30vh;
  min-width: max-content;
  min-height: 400px;
  width: 28vw;
  border: 2px solid black;
  border-radius: 30px;
  padding: 3vh 6vw;
  font-size: 28px;
  pointer-events: all;
}

.form .x {
  background-color: rgb(110, 43, 43);
  color: red;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 6%;
  right: 9%;
  font-weight: bold;
  font-size: 50px;
}

.form input, .form button {
  background-color: rgb(78, 30, 30);
  font-size: 24px;
  margin: 5px 0 18px 0;
}

.form button {
  padding: 10px 30px;
  border-radius: 20px;
}

@media (max-height: 1000px) {
  .header h1 {
    font-size: 70px;
  }
  .plus {
    font-size: 100px;
  }
}

.list {
  display: flex;
  margin: 90px 50px;
  gap: 30px;
  flex-wrap: wrap;
}

.todo {
  background-color: rgb(110, 43, 43);
  padding: 10px 20px;
  max-width: 700px;
  min-width: 500px;
  flex: 1;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 96px;
}